@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 400px;
  margin: 30px auto;
  overflow: auto;
  min-height: 400px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: gainsboro;
}
/* #search {
 border-top: none;
 border-left: none;
 border-right: none;
 min-height: 40px;
 width: 100%;
 border-bottom: 1px solid gainsboro;
} */

/* #search:focus {
  outline: none;
} */

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}
.delbtn{
 margin-left:10px;
}
.favbtn,.delbtn{
  display: inline-block;
  background: none;
  color: #fff;
  border: 1px solid gray;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.delbtn:focus {
  outline: none;
}

.favbtn:focus {
  outline: none;
}

.delbtn:active {
  transform: scale(0.98);
}

.favbtn:active {
  transform: scale(0.98);
}

span.btn-group{
  position: absolute;
  top: 50%;
  left: 80%;
  width: 120px;
  transform: translate(-50%,-50%);
  
}
.friend {
  position: relative;
  background: white;
  padding: 10px 20px;
  min-height: 80px;
  border-bottom: 1px solid gainsboro;
  cursor: pointer;
}

.friend.reminder {
  border-left: 5px solid green;
}

.friend h3 {
  display: inline-block;
  align-items: center;
  justify-content: space-between;
}



form {
  border-bottom: 1px solid gainsboro;
}

.form-control {
  margin: 0;
  display: inline-block;
}

.form-control label {
  display: block;
  margin: 5px;
  
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  border-radius: 10px;
  border: none;
}

.form-control input:focus{
  outline: none;
}

.form-control-check {
  
 
}

.form-control-check label {
  float: right; 
}

.form-control-check input {
  margin-top: 10px;
  height: 20px;

}

footer {
  margin-top: 30px;
  text-align: center;
}

span#about{
  display: block;
  font-size: 1ch;
  font-weight: lighter;
  padding-top: 5px;
}